body{
  margin: 0
}

h2{
  color: white;
  
font-family: brother-1816, sans-serif;

font-weight: 400;

font-style: normal;
font-size: 36px;
}

h1{
  color: white;
  font-family: rhythm-one-solid,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
}

.rightHand {
  align-self: flex-end;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: right;
}
.bounce2:hover {
  animation-name: bounceRight;
  animation-timing-function: ease;
}
@keyframes bounceRight {
0%   { transform: translateY(0); }
50%  { transform: translateX(-60px); }
100% { transform: translateY(0); }
}

.leftHand {
  align-self: flex-end;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: left;
}
.bounce1:hover {
  animation-name: bounceLeft;
  animation-timing-function: ease;
}
@keyframes bounceLeft {
0%   { transform: translateY(0); }
50%  { transform: translateX(60px); }
100% { transform: translateY(0); }
}

svg {
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.umbrella {
  align-self: flex-end;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: left;
}
.bounce3:hover {
  animation-name: bounceUmbrella;
  animation-timing-function: ease;
}
@keyframes bounceUmbrella {
0%   { transform: translateY(0); }
50%  { transform: translateY(-60px);}
100% { transform: translateY(0); }
}



.video-wrapper {
    /* Telling our absolute positioned video to 
    be relative to this element */
    position: relative;
  
    width: 400px;
    height: 200px;
  
    /* Will not allow the video to overflow the 
    container */
    overflow: hidden;
  
    /* Centering the container's content vertically 
    and horizontally */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

video {
    /** Simulationg background-size: cover */
    object-fit: cover;
    height: 100vh;
    width: 100vw;
  
    position: fixed;
    top: 0;
    left: 0;
}

.position-front {
    position: relative;
    height: 100vh;
    text-align: center;
    justify-content: center;
}

.grid{
  display: grid;
  grid-template-columns: repeat(16, 1fr); /* spans to 9*/
  grid-template-rows: repeat(28, 1fr);
}


.headerBox{
  grid-column: 1/7;
  grid-row: 1;
  justify-content: center;
  align-items: center;
}
.headerBox2{
  grid-column: 6/11;
  grid-row: 2;
  justify-content: center;
  align-items: center;

}
.headerBox3{
  grid-column: 11/17;
  grid-row: 3;
  justify-content: center;
  align-items: center;

}

.subHeaderBox{
  grid-column: 2/16;
  grid-row: 4;
  display: flex;
  justify-content: center;
  align-items: top;

}

.text1{
  grid-column: 4/10;
  grid-row: 5;
  text-align: left;
 }
 .textbox1{
  display:inline-block;
  background:rgb(123, 157, 166, .6);
  width:auto;
  height:auto; 
  padding-left: 5%  
  }

 .text1a{
  grid-column: 8/14;
  grid-row: 6;
  text-align: right;
 }
 .textbox1a{
  background:rgb(120, 153, 162, .6);
  display:inline-block;
  width:auto;
  height:auto;  
  padding-right: 5%; 
  }
 .text1b{
  grid-column: 4/10;
  grid-row: 7;
  text-align: left;
 }
 .textbox1b{
  background: rgb(117, 150, 158, .6);
  display:inline-block;
  width:auto;
  height:auto;  
  padding-left: 5%  
 }

 .text2{
  grid-column: 8/14;
  grid-row: 8;
  text-align: right;
 }
 .textbox2{
  background: rgb(114, 146, 154, .6);
  display:inline-block;
  width:auto;
  height:auto; 
  padding-right: 5%; 
 }

 .text2a{
  grid-column: 4/10;
  grid-row: 9;
  text-align: left;
 }
 .textbox2a{
  background:rgb(111, 142, 150, .6);
  display:inline-block;
  width:auto;
  height:auto; 
  padding-left: 5%  
  
 }
 .text2b{
  grid-column: 8/14;
  grid-row: 10;
  text-align: right;
  
 }
 .textbox2b{
  background:rgb(108, 139, 146, .6);
  display:inline-block;
  width:auto;
  height:auto;
  padding-right: 5%;

 }
 .text2c{
  grid-column: 4/10;
  grid-row: 11;
  text-align: left;
 }
 .textbox2c{
  background: rgb(104, 135, 142, .6);
  display:inline-block;
  width:auto;
  height:auto;
  padding-left: 5%  

 }

.text3{
  grid-column: 8/14;
  grid-row: 12;
  text-align: right;
}
.textbox3{
  background:rgb(101, 131, 138, .6);
  display:inline-block;
  width:auto;
  height:auto;
  padding-right: 5%;
}
.text3a{
  grid-column: 4/10;
  grid-row: 13;
  text-align: left;
}
.textbox3a{
  background:rgb(98, 128, 134, .6);
  display:inline-block;
  width:auto;
  height:auto;
  padding-left: 5%  
}

.text4{
  grid-column: 8/14;
  grid-row: 14;
  text-align: right;
}
.textbox4{
  background:rgb(95, 124, 130, .6);
  display:inline-block;
  width:auto;
  height:auto;
  padding-right: 5%;
}
.text4a{
  grid-column: 4/10;
  grid-row: 15;
  text-align: left;
}
.textbox4a{
  background:rgb(92, 120, 126, .6);
  display:inline-block;
  width:auto;
  height:auto;
  padding-left: 5%  
  
}

.text5{
  grid-column: 8/14;
  grid-row: 16;
  text-align: right;
}
.textbox5{
  background: rgb(89, 117, 121, .6);
  display:inline-block;
  width:auto;
  height:auto;
  padding-right: 5%;

}

.text6{
  grid-column: 4/10;
  grid-row: 17;
  text-align: left;
}
.textbox6{
  background: rgb(86, 113, 117, .6);
  display:inline-block;
  width:auto;
  height:auto;
  padding-left: 5%  
}
.text6a{
  grid-column: 8/14;
  grid-row: 18;
  text-align: right;
  padding-top:35%;

}
.textbox6a{
  background: rgb(83, 109, 113, .6);
  display:inline-block;
  width:auto;
  height:auto;
  padding-right: 5%;
 
}

.text7{
  grid-column: 4/10;
  grid-row: 19;
  text-align: left;
  padding-top: 15%;
}
.textbox7{
  background: rgb(80, 106, 109, .6);
  display:inline-block;
  width:auto;
  height:auto;
  padding-left: 5%  

}

.text7a{
  grid-column: 8/14;
  grid-row: 20;
  text-align: right;
}
.textbox7a{
  background:rgb(77, 102, 105, .6);
  display:inline-block;
  width:auto;
  height:auto;
  padding-right: 5%;
}

.text7b{
  grid-column: 4/10;
  grid-row: 21;
  text-align: left;
}
.textbox7b{
  background:rgba(73, 98, 101, .6);
  display:inline-block;
  width:auto;
  height:auto;
  padding-left: 5%  
}

.text8{
  grid-column: 8/14;
  grid-row: 22;
  text-align: right;
}
.textbox8{
  background:rgb(70, 95, 97, .6);
  display:inline-block;
  width:auto;
  height:auto;
  padding-right: 5%;

}
.text8a{
  grid-column: 4/10;
  grid-row: 23;
  text-align: left;
}
.textbox8a{
  background:rgb(67, 91, 93, .6);
  display:inline-block;
  width:auto;
  height:auto;
  padding-left: 5%  
}

.text9{
  grid-column: 8/14;
  grid-row: 24;
  text-align: right;
}
.textbox9{
  background:rgb(64, 87, 89, .6);
  display:inline-block;
  width:auto;
  height:auto;
  padding-right: 5%;

}
.text9a{
  grid-column: 4/10;
  grid-row: 25;
  text-align: left;
}
.textbox9a{
  background:rgb(61, 84, 85, .6);
  display:inline-block;
  width:auto;
  height:auto;
  padding-left: 5%  

}
.text9b{
  grid-column:8/14;
  grid-row: 26;
  text-align: right;
 
}
.textbox9b{
  background:rgb(58, 80, 81, .6);
  display:inline-block;
  width:auto;
  height:auto;
  padding-right: 5%;
}


.endSentence{
  grid-column: 2/16;
  grid-row: 27;
  justify-content: center;
  align-items: center;
  
}

.rightHandIcon{
  grid-column: 2/5;
  grid-row:28;
  justify-content: center;
  align-items: center;
}

.umbreallaIcon{
  grid-column: 7/10;
  grid-row: 28;
  justify-content: center;
  align-items: center; 
}

.leftHandIcon{
  grid-column: 12/16;
  grid-row:28;
  justify-content: center;
  align-items: center; 
}


